python-dotenv
ipykernel


openai

langgraph
langchain 
langchain-openai
langchain-community
langchain_mistralai
langchain_experimental # REPL tool


pypdf #PDF handling
langchain-qdrant # Vector database

# Tools
wikipedia
youtube_search
langfuse
yt_dlp